.carNumbers {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #000000;
    margin-top: 12px;
    margin-left: 154px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    border: 0;
}
.carNumbers:focus {
    color: red;
}